<div class="container">
  <h1 class="text-center">Currency Converter</h1>
  <form>
    <div class="form-group">
      <label for="fromCurrency">Source CCY</label>
      <select
        class="form-control"
        [(ngModel)]="fromCurrency"
        name="fromCurrency"
        id="fromCurrency"
        required
      >
        <option value="1.126735">USD</option>
        <option value="0.876893">GBP</option>
        <option value="79.677056">INR</option>
      </select>
    </div>
    <br />
    <div class="form-group">
      <label for="toCurrency">Target CCY</label>
      <select
        class="form-control"
        [(ngModel)]="toCurrency"
        name="toCurrency"
        id="toCurrency"
        required
      >
        <option value="1.126735">USD</option>
        <option value="0.876893">GBP</option>
        <option value="79.677056">INR</option>
      </select>
    </div>
    <br />
    <div class="form-group">
      <label for="amount">Amount</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="amount"
        name="amount"
        id="amount"
        required
      />
    </div>
    <div class="form-group">
      <button
        class="btn btn-primary"
        (click)="convertCurrency()"
        id="submitButton"
        [disabled]="!amount || !fromCurrency || !toCurrency"
      >
        Convert
      </button>
    </div>
    <div class="form-group">
      <label for="result">Result</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="result"
        name="result"
        id="result"
        disabled
      />
    </div>
  </form>
</div>
<div id="resValue" [innerHtml]="resValue"></div>